<h1>Jeff Cooper's Verve Challenge</h1>

<p class="lead">
This is Jeff Cooper's submission for the <a href="https://github.com/VerveWireless/software-challenge" target="_blank">Verve Software Challenge</a>.
</p>

<p>To get started, upload an offers TSV file.</p>

<div id="offers-content">
  <%= link_to "", class: ["btn", "btn-primary", "btn-upload"] do %>
    <span class="glyphicon glyphicon-upload"></span>
    Upload TSV
  <% end %>

  <%= render "offers/upload_form" %>
</div>

<%= content_for :init do %>
  <%= javascript_tag do %>
    (function() {
        "use strict";

        new app.OffersView({
          el: "#offers-content"
        });
    })();
  <% end %>
<% end %>
