// Use Twitter Bootstrap for default styles
@import "bootstrap";
@import "bootstrap/theme";

@import "jquery.dataTables";

// Adjust margin for top navbar
body {
  margin-top: 60px;
}

.clear-both {
    clear: both;
}

.jeff-profile {
    margin-right: 20px;
}

// Extend margins for DataTables
table.dataTable {
    margin-top: 60px;
    margin-bottom: 30px;
}

// Fix for dataTable pagination
.dataTables_wrapper .pagination {
    float: right;
    margin-top: 0;
}

// Offers index
.offer-actions {
    margin: 15px;
}

// Maps
.map-wrap {
    margin-top: 15px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 20px #999;
}

.map {
    height: 300px;
}
